ul(class="nav nav-pills" id="editTab" role="tablist")
    li(class="nav-item")
        a(class="nav-link" id="alphaTab" role="tab" data-toggle="tab" aria-controls="alpha" href="#alpha") Alphas
    li(class="nav-item")
        a(class="nav-link" id="numberTab" role="tab"  data-toggle="tab" aria-controls="number" href="#number") Numbers
    li(class="nav-item")
        a(class="nav-link" id="frowTab" role="tab" data-toggle="tab" aria-controls="fRow" href="#fRow") F Keys
    li(class="nav-item")        
        a(class="nav-link" id="specialTab" role="tab" data-toggle="tab" aria-controls="specials" href="#specials") Specials
    li(class="nav-item")        
        a(class="nav-link" id="specialTab" role="tab" data-toggle="tab" aria-controls="layerToggles" href="#layerToggles") Layer Toggles
.tab-content
    .tab-pane(id="alpha" role="tabpanel" aria-selected="true" aria-labelledby="alphaTab")
        |this is some text for no reason
    .tab-pane(id="number" role="tabpanel")
        p test
    .tab-pane(id="fRow" role="tabpanel")
        .btn-group-vertical(data-toggle="buttons")
            div(class="btn-group btn-group-toggle")
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f1" autocomplete="off")
                    |F1 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f2" autocomplete="off")
                    |F2
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f3" autocomplete="off")
                    |F3 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f4" autocomplete="off")
                    |F4 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f5" autocomplete="off")
                    |F5 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f6" autocomplete="off")
                    |F6
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f7" autocomplete="off")
                    |F7 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f8" autocomplete="off")
                    |F8
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f9" autocomplete="off")
                    |F9 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f10" autocomplete="off")
                    |F10 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f11" autocomplete="off")
                    |F11
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f12" autocomplete="off")
                    |F12
            div(class="btn-group btn-group-toggle")
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f13" autocomplete="off")
                    |F13 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f14" autocomplete="off")
                    |F14
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f15" autocomplete="off")
                    |F15
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f16" autocomplete="off")
                    |F16
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f17" autocomplete="off")
                    |F17
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f18" autocomplete="off")
                    |F18
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f19" autocomplete="off")
                    |F19
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f20" autocomplete="off")
                    |F20
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f21" autocomplete="off")
                    |F21
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f22" autocomplete="off")
                    |F22 
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f23" autocomplete="off")
                    |F23
                label(class="btn btn-info")
                    input(type="radio" name="options" id="kc_f24" autocomplete="off")
                    |F24
    .tab-pane(id="specials" role="tabpanel")
        div(class="btn-group btn-group-toggle" data-toggle="buttons")
            //- label(class="btn btn-info" )
            //-     input(type="radio" name="options" id="vold" autocomplete="off" checked) Volume Down
            //- label(class="btn btn-info")
            //-     input(type="radio" name="options" id="volu" autocomplete="off" checked) Volume Up
            //- label(class="btn btn-info")
            //-     input(type="radio" name="options" id="mute" autocomplete="off" checked) Mute
            //- label(class="btn btn-info")
            //-     input(type="radio" name="options" id="mstp  " autocomplete="off" checked) Stop
            //- label(class="btn btn-info")
            //-     input(type="radio" name="options" id="mprv" autocomplete="off" checked) Previous
            //- label(class="btn btn-info")
            //-     input(type="radio" name="options" id="mnxt" autocomplete="off" checked) Next
            label(class="btn btn-info")
                label(for="mply") Play/Pause
                input(type="radio" name="Play/Pause" id="mply" autocomplete="off" checked)
    .tab-pane(id="layerToggles" role="tabpanel")
        div(class="btn-group-vertical btn-group-toggle" data-toggle="buttons")
            label(class="btn btn-info" )
                //- label(for="mo") 
                input(type="radio" name="Momentary" id="mo" autocomplete="off" value="Momentary")
                |Momentary
            label(class="btn btn-info")
                input(type="radio" name="options" id="to" autocomplete="off")
                |To 