ul(class="nav nav-tabs" id="keyboardTabs" role="tablist")
    li(class="nav-item").ml-3
        a(class="nav-link" id="keyboardTab" role="tab" data-toggle="tab" aria-controls="kbTab" href="#kbTab" aria-selected="true") Keyboard Lighting 
    li(class="nav-item").ml-3
        a(class="nav-link" id="edgeTabs" role="tab" data-toggle="tab" aria-controls="edgeTab" href="#edgeTab") Edge Lighting

.tab-content
    .tab-pane(id="kbTab" aria-selected="true")
        .keyboard(id= "mainkb")
            .keyrow(id="row0")
                .key(id="key0")
                .spacer
                .key(id="key1")
                .key(id="key2")
                .key(id="key3")
                .key(id="key4")
                .spacer
                .key(id="key5")
                .key(id="key6")
                .key(id="key7")
                .key(id="key8")
                .spacer
                .key(id="key9")
                .key(id="key10")
                .key(id="key11")
                .key(id="key12")
                .spacer
                .key(id="key13")
                .key(id="key14")
                .key(id="key15")

            .keyrow

            .keyrow(id="row1")
                .key(id="key16")
                .key(id="key17")
                .key(id="key18")
                .key(id="key19")
                .key(id="key20")
                .key(id="key21")
                .key(id="key22")
                .key(id="key23")
                .key(id="key24")
                .key(id="key25")
                .key(id="key26")
                .key(id="key27")
                .key(id="key28")
                .key(id="key29")
                .spacer
                .key(id="key30")
                .key(id="key31")
                .key(id="key32")

            .keyrow(id="row2")
                .key(id="key33")
                .key(id="key34")
                .key(id="key35")
                .key(id="key36")
                .key(id="key37")
                .key(id="key38")
                .key(id="key39")
                .key(id="key40")
                .key(id="key41")
                .key(id="key42")
                .key(id="key43")
                .key(id="key44")
                .key(id="key45")
                .key(id="key46")
                .spacer
                .key(id="key47")
                .key(id="key48")
                .key(id="key49")

            .keyrow(id="row3")
                .key(id="key50")
                .key(id="key51")
                .key(id="key52")
                .key(id="key53")
                .key(id="key54")
                .key(id="key55")
                .key(id="key56")
                .key(id="key57")
                .key(id="key58")
                .key(id="key59")
                .key(id="key60")
                .key(id="key61")
                .key(id="key62")
                .spacer

            .keyrow(id="row4")
                .key(id="key63")
                .key(id="key64")
                .key(id="key65")
                .key(id="key66")
                .key(id="key67")
                .key(id="key68")
                .key(id="key69")
                .key(id="key70")
                .key(id="key71")
                .key(id="key72")
                .key(id="key73")
                .key(id="key74")
                .spacer
                .key(id="key75")
                .spacer

            .keyrow(id="row5")
                .key(id="key76")
                .key(id="key77")
                .key(id="key78")
                .key(id="key79")
                .key(id="key80")
                .key(id="key81")
                .key(id="key82")
                .key(id="key83")
                .spacer
                .key(id="key84")
                .key(id="key85")
                .key(id="key86")

            script(src="javascript/keyboard.js")
    .tab-pane(id="edgeTab")
        div this is a test of the presidential alert system