#layerList {
    /* display: block; */
}

#addLayerBtn {
    /* display: block; */
    /* margin-top: 30px; */
    /* width: 100%; */
}

.layerlist {
    /* padding: 0px 25px; */
}

.layerlist div, h3 {
    display: inline-block;
}

.layerlist li {
    /* display: inline-flex; */
    cursor: pointer;
    /* list-style-type: none; */
    left: 0;
    padding: 3px;
    /* padding-bottom: px; */
    padding-left: 4px;
    margin-bottom: 3px;
    /* min-width: 20%; */
    /* display: grid; */
    grid-template-columns: auto 20px;
    /* text-size: */
    font-size: 150%;
    text-align: center;

}

.layerElement {
    /* border-color: black; */
    border-width: 1px;
    border-style: solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    /* display: inline-block; */
}

/* .layerElement:hover {
    background-color: lightgray;
} */

.layerlist .dropzone {
    padding-left: 0;
}

#addLayerBtn {
    /* margin-top: 30px; */
    /* min-width: 60px; */
    /* width: 100%; */
    /* text-align: center; */
}

.deleteLayerBtn {
    /* position: absolute; */
    /* border-bottom-left-radius: 0; */
    /* border-top-left-radius: 0; */
    /* text-align: center; */
    /* display: inline-block; */
    /* padding:6px; */
    /* padding-top:6px; */
    /* padding-bottom: 6px; */
    /* padding-left: 6px; */
    /* padding-right: 6px; */
    /* margin-left:40px; */
    /* right */
    /* right:-1px; */
    /* top: -1px; */
}